.card {
  width: 320px;
  background-color: var(--Dark-Mode-Text);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  -webkit-box-shadow: 1px 4px 5px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 4px 5px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 4px 5px -2px rgba(0, 0, 0, 0.75);
}

.flag {
  height: 180px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.container_info {
  padding: 20px 30px 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
}

.container_info>h2 {
  font-weight: 800;
  font-size: 18px;
}

.container_info li {
  display: flex;
  gap: 5px;
}

.container_info li>p:first-child {
  font-weight: 600;
}